/*
This is main stylesheet.

@package: pageScrapper
@version: 1.0
@author: wildwind | George Zakharov <george_zakharov@mail.ru>
*/

/*
Common style
*/
.input-container {
    margin-top: 20em;
}

footer {
    margin-top: 20em;
}